@model List<CartItem>

@{
    ViewData["Title"] = "Cart";
    Layout = "_Layout";
}


<h1>Shopping Cart</h1>

@if (Model.Count == 0)
{
    <p>Your cart is empty.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Total Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.ProductName</td>
                    <td>@item.Price.ToString("C")</td>
                    <td>@item.Quantity</td>
                    <td>@(item.Price * item.Quantity)</td>
                </tr>
            }
        </tbody>
    </table>
}

<a class="btn btn-primary" href="@Url.Action("Index", "Products")">Continue Shopping</a>
<a class="btn btn-success" href="@Url.Action("Checkout", "Cart")">Proceed to Checkout</a>
