@model FPT_Pharmacy_Assignment.Areas.Admin.Models.Product

@{
    ViewData["Title"] = "Details";
}

<section class="section properties">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Products")">Products</a></li>
            <li class="breadcrumb-item active" aria-current="page">Details</li>
        </ol>
    </nav>
    <div class="container">
        <div class="row gx-5">
            <aside class="col-lg-6">
                <div class="border rounded-4 mb-3 d-flex justify-content-center">
                    <a data-fslightbox="mygalley" class="rounded-10" target="_blank" data-type="image">
                        <img src="/uploads/products/@Model.ImageFile" alt="Product Image" style="max-width: 5000px; max-height: 5000px;" />
                    </a>
                </div>
                <!-- thumbs-wrap.// -->
                <!-- gallery-wrap .end// -->
            </aside>
            <main class="col-lg-6">
                <div class="ps-lg-3">
                    <h4 class="title text-dark">
                        @Model.Name
                    </h4>
                    <div class="d-flex flex-row my-3">
                        <div class="text-warning mb-1 me-2">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                            <span class="ms-1">
                                4.5
                            </span>
                        </div>
                        <span id="stock-level" class="text-muted" data-stock-level="@Model.StockLevel><i class="fas fa-shopping-basket fa-sm mx-1"></i>@Model.StockLevel items left</span>
                        @if (Model.StockLevel == 0)
                        {
                            <span class="text-danger ms-2">Out of stock</span>
                        }
                        else
                        {
                            <span class="text-success ms-2">In stock</span>
                        }

                    </div>

                    <div class="mb-3">
                        <span class="h5">@Model.Price</span>
                        <span class="text-muted">/per item</span>
                    </div>

                    <div id="productInfo" data-product-id="@Model.ProductId" data-name="@Model.Name" data-pricing="@Model.Price"></div>
                    <p>
                        @Model.Description
                    </p>

                    <div class="row">
                        <dt class="col-3">Manufacturer:</dt>
                        <dd class="col-9">@Model.Manufacturer.Name</dd>
                        <dt class="col-3">Category:</dt>
                        <dd class="col-9">@Model.Category.Name</dd>
                    </div>

                    <hr />

                    <div class="row mb-4">
                        <div class="col-md-4 col-6 mb-3">
                            <label class="mb-2 d-block">Quantity</label>
                            <div class="input-group mb-3" style="width: 170px;">
                                <button class="btn btn-white border border-secondary px-3" type="button" id="button-addon1" data-mdb-ripple-color="dark">
                                    <i class="fas fa-minus"></i>
                                </button>
                                <input type="text" readonly class="form-control text-center border border-secondary" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1" value="1" id="productQuantity" />
                                <button class="btn btn-white border border-secondary px-3" type="button" id="button-addon2" data-mdb-ripple-color="dark">
                                    <i class="fas fa-plus"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary shadow-0" id="add-to-cart-btn">
                        <i class="me-1 fa fa-shopping-basket"></i> Add to cart
                    </button>
                </div>
            </main>
        </div>
    </div>
</section>
<script src="~/js/product-counter.js"></script>