@model List<UsersViewModel>

@{
    ViewData["Title"] = "Index";
}

<table class="table">
    <thead>
        <tr>
            <th>
                Full Name
            </th>
            <th>
                Roles
            </th>
            <th>
                Email
            </th>
            <th>
                User Name
            </th>
            <th>
                Address
            </th>
            <th>
                Date Of Birth
            </th>
            <th>
                PhoneNumber
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => user.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => user.Role)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => user.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => user.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => user.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => user.DateOfBirth)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => user.PhoneNumber)
                </td>
                <td>
                    <a asp-action="Edit" asp-area="Admin" asp-route-id="@user.Id">Edit</a> |
                    <a asp-action="Details" asp-area="Admin" asp-route-id="@user.Id">Details</a> |
                    <a asp-action="Delete" asp-area="Admin" asp-route-id="@user.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
