@model IEnumerable<FPT_Pharmacy_Assignment.Areas.Admin.Models.Order>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedAt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @if (item.Status == "Pending")
                    {
                        <span style="background: yellow; color:black; padding: 0.5rem; border-radius: 9999px;">@Html.DisplayFor(modelItem => item.Status)</span>
                    }
                    else if (item.Status == "Cancelled")
                    {
                        <span style="background: red;color:aliceblue; padding: 0.5rem; border-radius: 9999px;">@Html.DisplayFor(modelItem => item.Status)</span>
                    }
                    else if (item.Status == "Completed")
                    {
                        <span style="background: green;color:aliceblue; padding: 0.5rem; border-radius: 9999px;">@Html.DisplayFor(modelItem => item.Status)</span>
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.Status)
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedAt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UpdatedAt)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.OrderId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.OrderId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
